// $textColor: whitesmoke;
// $backgroundColor1: #272c4a;
// $backgroundColor2: #1f203e;

//BidaPlace
$mainColor: #E88213;
$mainOpacityColor: #FFDBB4;
$secondaryColor: #2F2F2F;

$textColor: #000000;
$textColor2: #A8A8A8;
$headerColor: #2F2F2F;
$placeholderColor: #989898;

$backgroundColor1: #FFFFFF;
$backgroundColor2: #F7F7F7;
$backgroundColorFooter: #7E434A;

$disabledColor: #CECECE;
$disabledTextColor: #B3B3B3;

$unaccessibleColor: #B6B6B6;

$successTextColor: #209A20;
$successBackgroundColor: #EBF9EB;

$errorTextColor: #FF0000;

$pendingsBackGroundColor: #FEF8E8;
$pendingsTextColor: #FFBA00;