@import "../../../assets/style/colors";

:host ::ng-deep .p-menu {
  background-color: $backgroundColor1;
  border: none;
  color: $textColor;

  .p-submenu-header {
    background-color: $backgroundColor1;
    color: $textColor;
  }

  .p-menuitem-link {
    .p-menuitem-text,
    .p-menuitem-icon {
      color: $textColor;
    }

    &.p-menuitem-link-active {
      border: 2px solid $backgroundColor2;
    }
  }
}
