<div class="p-2 d-flex flex-column" style="background-color: #272C4A; height: 100%;">
  <button
    pButton
    class="mb-2 p-button-text"
    style="color: whitesmoke; font-weight: bold;"
    label="EN"
    (click)="changeLanguage('en-US')"
  ></button>
  <button
    pButton
    class="mb-2 p-button-text"
    style="color: whitesmoke; font-weight: bold;"
    label="HU"
    (click)="changeLanguage('hu-HU')"
  ></button>
  <button
    pButton
    class="mb-2 p-button-text"
    style="color: whitesmoke; font-weight: bold;"
    label="RO"
    (click)="changeLanguage('ro-RO')"
  ></button>
</div>
