<div class="header-container d-flex p-3 align-items-center">
  <div class="col-3 d-flex justify-content-center logo">
    <img height="30px" src="assets/images/logo.png" alt="logo" />
  </div>

  <div class="col-6 d-flex justify-content-center menu-items">
    <p-menu [model]="items"></p-menu>
  </div>

  <div
    *ngIf="isLoggedIn"
    class="col-3 d-flex justify-content-center user-logged-in"
  >
    <button
      pButton
      type="button"
      label="Switch to Seller"
      class="p-button-outlined p-button-rounded"
    ></button>

    <p-button (click)="menu.toggle($event)" styleClass="p-button-text">
      <span alt="logo" class="pi pi-user me-1" style="width: 1.5rem"></span>
      <span class="p-ml-2 p-text-bold">My account</span>
      <span alt="logo" class="pi pi-angle-down pt-1 ms-2" style="width: 1.5rem"></span>
    </p-button>
  </div>

  <div *ngIf="!isLoggedIn" class="col-3 d-flex justify-content-center login">
    <button
      pButton
      type="button"
      label="LOGIN/SIGNUP"
      icon="pi pi-lock"
      class="p-button-text"
      (click)="openLoginDialog()"
    ></button>
  </div>

  <div class="action-buttons"></div>
</div>

<p-menu #menu [popup]="true" [model]="userItems"></p-menu>