<!-- <p-dropdown
  [options]="cities"
  [(ngModel)]="selectedCity"
  optionLabel="name"
  (onChange)="switchLanguage($event)"
></p-dropdown> -->
<div class="w-100 d-flex justify-content-end">
  <button
    style="color: whitesmoke"
    pButton
    pRipple
    type="button"
    icon="pi pi-search"
    class="ms-2 p-button-rounded p-button-text"
  ></button>
  <button
    style="color: whitesmoke"
    pButton
    pRipple
    type="button"
    icon="pi pi-bell"
    class="ms-2 p-button-rounded p-button-text"
  ></button>
  <button
    style="color: whitesmoke"
    pButton
    pRipple
    type="button"
    icon="pi pi-cog"
    class="ms-2 p-button-rounded p-button-text"
  ></button>
</div>
